html,body {
	font-family: 'Oswald', sans-serif;
	color:white;
	background-color:rgb(51, 52, 66);
}
h1,h2,h3,h4,b {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.option {
	margin-bottom:30px;
}
.option * {
	display:inline-block;
}
.flat-slider {
	-webkit-appearance:none;
	position:relative;
	top:5px;
	width:360px;
	height:20px;
	background:linear-gradient(to right, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%);
	background-size:350px 10px;
	background-position:center;
	background-repeat:no-repeat;
	overflow:hidden;
	outline:none;
}
.flat-slider::-webkit-slider-thumb {
	-webkit-appearance:none;
	width:20px;
	height:20px;
	background:orange;
	position:relative;
	z-index:3;
}
.flat-slider::-webkit-slider-thumb:after {
	content:" ";
	width:360px;
	height:10px;
	position:absolute;
	z-index:1;
	right:20px;
	top:5px;
	background:orange;
}
.content {
	position:relative;
	width:50%;
	left:25%;
	right:25%;
}
.pricingbtn {
	background:transparent;
	display:inline-block;
	padding:15px 45px;
	border-radius:14px;
	color:#545454;
	text-decoration:none;
	text-transform:uppercase;
	font-family:Arial;
	margin:0 10px;
	border:2px solid orange;
	box-shadow:none!important;
}
.pricingbtn:first-of-type {
	margin-left:0px;
}
.pricingbtn.active {
	background:orange;
	color:#fff;
}
.option_label {
	padding:10px 0px;
	width:100%;
}
